<div class="w-[850px] flex flex-col mx-auto">
  <h2 class="px-2 font-bold text-2xl tracking-tight pb-6">Edit <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-[850px] gap-4 p-4 h-full grid grid-cols-2 items-center bg-red-200 rounded-lg drop-shadow-2xl" }) do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, placeholder: " ", class: "w-full devise_input_field" %>
    </div>
    
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: " ", class: "w-full devise_input_field" %>
    </div>

    <div class="field col-span-2">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", placeholder: " ", class: "w-full devise_input_field" %>
    </div>

    <div class="field">
      <%= f.label :avatar, "Profile photo", class: "block mb-2 font-medium text-black" %>
      <%= f.file_field :avatar, class: "p-1 block w-full text-sm text-gray-900 border-0 rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-red-100 placeholder-gray-400" %>
      <p class="mt-1 text-sm text-black">PNG, JPG (MAX. 1MB).</p>
    </div>

    <div class="field">
      <%= f.label :background_photo, class: "block mb-2 font-medium text-black" %>
      <%= f.file_field :background_photo, class: "p-1 block w-full text-sm text-gray-900 border-0 rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-red-100 placeholder-gray-400" %>
      <p class="mt-1 text-sm text-black">PNG, JPG (MAX. 1MB).</p>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%# Skip passwords if user is registered via OAuth %>
    <% if resource.provider.blank? %>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: " ", class: "w-full devise_input_field" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " ", class: "w-full devise_input_field" %>
    </div>

      <div class="field col-span-2">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: " ", class: "w-full devise_input_field" %>
      </div>
    <% end %>

    <div class="col-span-2">
        <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="actions col-span-2">
      <%= f.submit "Update", class: "bg-red-500 rounded-full w-full p-2 hover:cursor-pointer hover:bg-red-600 active:bg-red-700 border-0" %>
    </div>
  <% end %>

  <div class="flex flex-col gap-2 pt-2">
    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, form_class: "inline", class: "text-red-50 underline hover:text-red-700 transition duration-200 ease-in-out" %></div>

    <%= link_to "Cancel changes", resource, class: "text-red-50 underline", data: { turbo: false } %>
  </div>
</div>