<div id="invitation_<%= invitation.id %>" class="h-20 flex items-center p-2">
    <%= link_to invitation.user, data: { turbo_frame: "_top" }, class: "h-full flex items-center gap-2 p-2 hover:bg-red-200 focus:bg-red-100 rounded-md" do %>
        <%= image_tag invitation.user.profile_photo, alt: "Profile photo", class: "w-12 h-12 rounded-full" %>
        <p class="font-medium"><%= "#{invitation.user.first_name} #{invitation.user.last_name}" %></p>
    <% end %>

    <%= form_with url: invitation_path(invitation), method: :patch, class: "h-full flex items-center ml-auto" do |form| %>
        <%= form.hidden_field :inviting_user_id, value: invitation.user.id %>
        <%= form.submit "Accept", class: "h-full p-2 hover:bg-red-200 focus:bg-red-100 rounded-md hover:cursor-pointer" %>
    <% end %>

    <%= form_with model: invitation, method: :delete, class: "h-full flex items-center" do |form| %>
        <%= form.submit "Reject", class: "h-full p-2 hover:bg-red-200 focus:bg-red-100 rounded-md hover:cursor-pointer" %>
    <% end %>
</div>