<div id="people-navbar" data-controller="people-navbar" class="fixed p-2 right-0 w-[400px] h-[100vh] mx-2 rounded-md bg-red-50 drop-shadow-md overflow-scroll">
    <div class="flex p-2 h-[100px] items-center justify-around border-b border-slate-200">
        <%= link_to "All friends", friends_invitations_path, data: { turbo_frame: "people-options" }, class: "flex items-center px-2 py-1 rounded-md h-3/5 text-base hover:cursor-pointer hover:bg-red-200 active:bg-red-100" %>
        <%= link_to "Suggestions", suggested_invitations_path, data: { turbo_frame: "people-options" }, class: "flex items-center px-2 py-1 rounded-md h-3/5 text-base hover:cursor-pointer hover:bg-red-200 active:bg-red-100" %>
        <%= link_to pending_invitations_path, data: { turbo_frame: "people-options" }, class: "flex flex-col justify-center px-2 py-1 rounded-md h-3/5 text-base hover:cursor-pointer hover:bg-red-200 active:bg-red-100" do %>
            <p>Friend Requests</p>
            <%= render "shared/pending_counter" %>
        <% end %>
    </div>

    <%= turbo_frame_tag "people-options", src: suggested_invitations_path do %>
    <% end %>
</div>