<div class="h-20 flex items-center p-2">
    <%= link_to suggested_friend, data: { turbo_frame: "_top" }, class: "h-full flex items-center gap-2 p-2 hover:bg-red-200 focus:bg-red-100 rounded-md" do %>
        <%= image_tag suggested_friend.profile_photo, alt: "Profile photo", class: "w-12 h-12 rounded-full" %>
        <p class="font-medium"><%= "#{suggested_friend.first_name} #{suggested_friend.last_name}" %></p>
    <% end %>

    <div id="suggested_friend_<%= suggested_friend.id %>" class="h-full flex items-center ml-auto">
        <% unless invitation %>
            <%= render "shared/add_friend_button", friend: suggested_friend %>
        <% else %>
            <%= render "shared/cancel_friend_request", friend: suggested_friend, invitation: invitation %>
        <% end %>
    </div>
</div>