<% if current_user == @user %>
    <%# Literally do nothing %>
<% elsif current_user.friends.include?(@user) %>
    <%= link_to "Unfriend", invitation_path(@invitation, user_profile: @user.id), data: { turbo_method: :delete }, class: "p-2 hover:bg-red-200 focus:bg-red-100 rounded-md" %>
<% elsif current_user.pending_invitations.pluck(:user_id).include?(@user.id) %>
    <p class="font-bold text-red-500">Pending request</p>
    <%= form_with url: invitation_path(@invitation, user_profile: @user.id), method: :patch do |form| %>
        <%= form.hidden_field :inviting_user_id, value: @invitation.user.id %>
        <%= form.submit "Accept", class: "p-2 hover:bg-red-200 focus:bg-red-100 rounded-md hover:cursor-pointer" %>
    <% end %>

    <%= form_with url: invitation_path(@invitation, user_profile: @user.id), method: :delete do |form| %>
        <%= form.submit "Reject", class: "p-2 hover:bg-red-200 focus:bg-red-100 rounded-md hover:cursor-pointer" %>
    <% end %>
<% elsif @user.pending_invitations.pluck(:user_id).include?(current_user.id) %>
    <%= link_to "Cancel request", invitation_path(@invitation, user_profile: @user.id), data: { turbo_method: :delete }, class: "p-2 hover:bg-red-200 focus:bg-red-100 rounded-md" %>
<% else %>
    <%= form_with url: invitations_path(user_profile: @user.id), method: :post do |form| %>
        <%= form.hidden_field :friend_id, value: @user.id %>
        <%= form.submit "Add a friend", class: "p-2 hover:bg-red-200 focus:bg-red-100 rounded-md hover:cursor-pointer" %>
    <% end %>
<% end %>

<% if @user == current_user %>
    <%= link_to edit_user_registration_path, class: "flex items-center p-3 rounded-full hover:bg-red-100 active:bg-red-200" do %>
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Edit profile pencil</title><path d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" /></svg>
        Edit profile
    <% end %>
<% end %>