<div class="w-full h-[50vh] bg-red-50 drop-shadow-md rounded-md">
    <div class="w-[900px] h-full mx-auto">
        <div class="h-3/5 bg-gradient-to-b from-red-50 to-slate-500 rounded-md"></div>
        <div class="flex px-6">
            <%= image_tag @user.profile_photo, alt: "Profile photo", class:"w-36 h-36 relative -top-8 rounded-full border-4 border-red-50" %>
            
            <div class="pl-2 pt-6">
                <p class="font-semibold text-xl"><%= "#{@user.first_name} #{@user.last_name}" %></p>
            </div>

            <div class="flex items-center gap-2 ml-auto self-end">
                <%= render "user_options" %>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-[300px_1fr_600px_1fr] w-full">
    <div>
        <div class="sticky top-[calc(5vh_+_0.5rem)] h-screen p-2 rounded-md bg-red-50 drop-shadow-md overflow-y-scroll">
            <p class="px-4 text-2xl font-semibold">Friends</p>
            <%= render partial: "friend", collection: @user.friends %>
        </div>
    </div>

    <div class="col-start-3">
        <div id="posts" class="flex flex-col gap-2">
            <%= render @user.posts %>
        </div>
    </div>
</div>
