<%= form_with model: @post, data: { controller: "form", action: "turbo:submit-end->form#clear" } do |form| %>
    <div class="bg-red-50 rounded-md">
        <%= form.text_area :body, rows: "4", placeholder: "What's on your mind, #{current_user.first_name}?", data: { "form-target": "textArea" }, class: "w-full resize-none rounded-md bg-red-50 focus:ring-0 border-0 p-3" %>
        
        <div class="p-3">
            <%= form.label :image, "Upload image", class: "block mb-2 text-sm font-medium text-gray-900 text-white" %>
            <%= form.file_field :image, class: "p-1 block w-full text-sm text-gray-900 border-0 rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-red-100 placeholder-gray-400" %>
            <p class="mt-1 text-sm text-slate-800">PNG, JPG (MAX. 1MB).</p>
        </div>

        <hr>
        <%= form.submit "Post", data: { action: "form#preventEmpty" },  class: "bg-red-50 w-full mt-2 rounded-md p-2 hover:cursor-pointer hover:bg-red-100 focus:bg-red-200" %>
    </div>
<% end %>