<div id="post_<%= post.id %>" class="flex flex-col gap-2 w-full p-2 bg-red-50 rounded-md">
    <%= turbo_frame_tag "editable_section_post_#{post.id}" do %>
        <%= render "posts/post_header", post: post %>
        
        <div>
            <%= post.body %>
        </div>

        <%= render "likes/like_counter", likeable: post %>

        <div class="flex border-t border-b border-slate-200 py-2 gap-2 text-base">
            <%= render "likes/like_region", likeable: post %>

            <% if post.author == current_user %>
                <div class="flex gap-2 ml-auto">
                    <%= link_to edit_post_path(post), class: "flex items-center self-center px-3 py-1 gap-2 rounded-full hover:bg-red-100 focus:bg-red-200" do %>
                        Edit
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>file-edit-outline</title><path d="M10 20H6V4H13V9H18V12.1L20 10.1V8L14 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H10V20M20.2 13C20.3 13 20.5 13.1 20.6 13.2L21.9 14.5C22.1 14.7 22.1 15.1 21.9 15.3L20.9 16.3L18.8 14.2L19.8 13.2C19.9 13.1 20 13 20.2 13M20.2 16.9L14.1 23H12V20.9L18.1 14.8L20.2 16.9Z" /></svg>
                    <% end %>

                    <%= button_to post_path(post), method: :delete, class: "flex items-center self-center px-3 py-1 gap-2 rounded-full hover:bg-red-100 focus:bg-red-200" do %>
                        Remove
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trash-can-outline</title><path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" /></svg>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>

    <div>
        <%= render "comments/comment_form", post: post %>
    </div>

    <%# Post ID is needed to target correct Post with comment via turbo streams %>
    <div id="comments_<%= post.id %>" class="divide-y border-t border-slate-400 pt-2">
        <%= render post.comments %>
    </div>
</div>

