<!DOCTYPE html>
<html>
  <head>
    <title>RailsSocial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-red-400 font-sans text-lg">
    <header class="block h-[5vh] sticky top-0">
      <% if user_signed_in? %>
        <%= render "logout" %>
      <% end %>
    </header>

    <main class="grid grid-cols-[repeat(3,_1fr)_repeat(4,_150px)_repeat(3,_1fr)] h-[95vh]">
      <%= yield %>
    </main>
  </body>
</html>
